.sidebar {
    background-image: linear-gradient(40deg, #2885c4, #2f3967);
    position: fixed;
    margin-right: 100px;
}

.sidebar li {
    margin-bottom: 2em;
}

.sidebar li:hover span {
    display: inline-block;
    transform: translate(5px);
}

.sidebar svg {
    margin-right: 5px;
}